<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Constructor
    </title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="../../assets/vendors/custom/fullcalendar/fullcalendar.bundle.css">
    <link rel="stylesheet" href="../../assets/vendors/base/vendors.bundle.css">
    <link rel="stylesheet" href="../../assets/demo/default/base/style.bundle.css">
    <link rel="stylesheet" href="../../styles/styles.css?v=15">
    <!--include ../livereload.html-->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script src="../../scripts/font.js"></script>
  </head>
  <body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <div class="m-grid m-grid--hor m-grid--root m-page">
      <!--header.m-grid__item.m-header(data-minimize-offset="200", data-minimize-mobile-offset="200")-->
      <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <div class="m-grid__item m-aside-left m-aside-left--skin-dark" id="m_aside_left">
          <div class="m-brand__logo m-logo"><img src="../../images/graphgrail1_png.png"></div>
          <div class="m-aside-menu m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark" id="m_ver_menu" data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
            <ul class="m-menu__nav m-menu__nav--dropdown-submenu-arrow">
              <li class="m-menu__item m-menu__item--submenu"><a class="m-menu__link m-menu__toggle" href="index.html"><i class="m-menu__link-icon flaticon-puzzle"></i><span class="m-menu__link-text">Data selection</span><i class="m-menu__ver-arrow la la-angle-right"></i></a></li>
              <li class="m-menu__item m-menu__item--submenu"><a class="m-menu__link m-menu__toggle" href="index-2.html"><i class="m-menu__link-icon flaticon-file"></i><span class="m-menu__link-text">Markup</span><i class="m-menu__ver-arrow la la-angle-right"></i></a></li>
              <li class="m-menu__item m-menu__item--submenu m-menu__item--active"><a class="m-menu__link m-menu__toggle" href="index-4.html"><i class="m-menu__link-icon flaticon-app"></i><span class="m-menu__link-text">Constructor</span><i class="m-menu__ver-arrow la la-angle-right"></i></a></li>
              <li class="m-menu__item m-menu__item--submenu"><a class="m-menu__link m-menu__toggle" href="index-5.html"><i class="m-menu__link-icon flaticon-chat-1"></i><span class="m-menu__link-text">Connection</span><i class="m-menu__ver-arrow la la-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
          <div class="m-subheader">
            <div class="d-flex align-items-center">
              <div class="mr-auto">
                <h3 class="m-subheader__title">Constructor
                </h3>
              </div>
            </div>
          </div>
          <div class="m-content">
            <div class="row">
              <div class="col-md-12">
                <div class="row ui-sortable" id="m_sortable">
                  <div class="col-md-6">
                    <div class="m-portlet m-portlet--tab">
                      <div class="m-portlet__body">
                        <div class="m-demo__preview">
                          <h3 class="m--padding-bottom-15">Preprocessing</h3>
                          <div class="m-widget2">
                                <div class="m-widget2__item m-widget2__item--primary m-draggable">
                                  <div class="m-accordion__item-head">
                                    <div class="m-widget2__checkbox m-draggable__x"><i class="fa fa-arrows"></i></div>
                                    <div class="m-widget2__desc m-draggable__title">
                                      <div class="m-widget2__text">Stopwords remover</div>
                                      <div class="m-widget2__user-name">Detailed component description - 1</div>
                                    </div>
                                    <div class="m-widget2__settings" data-toggle="collapse" href="#m_component1"><i class="fa fa-gear"></i></div>
                                  </div>
                                  <div class="m-accordion__item-body collapse" id="m_component1">
                                    <form class="m-form m-form-settings m-demo">
                                      <div class="form-group m-form__group row">
                                        <label class="col-sm-10">Words to remove</label>
                                        <div class="col-sm-11">
                                          <select class="form-control m-select2 m-js-tags" multiple="multiple">
                                            <option selected>in</option>
                                            <option selected>are</option>
                                            <option selected>to</option>
                                            <option selected>from</option>
                                            <option selected>a</option>
                                            <option selected>the</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="form-group m-form__group row">
                                        <label class="col-sm-10">Add yours</label>
                                        <div class="col-sm-11">
                                          <select class="form-control m-select2 m-js-tags" multiple="multiple"></select>
                                        </div>
                                      </div>
                                      <div class="form-group m-form__group row">
                                        <label class="col-sm-10">Language</label>
                                        <div class="col-sm-3">
                                          <label class="m-checkbox">
                                            <input type="checkbox">EN<span></span>
                                          </label>
                                        </div>
                                        <div class="col-sm-3">
                                          <label class="m-checkbox">
                                            <input type="checkbox">RU<span></span>
                                          </label>
                                        </div>
                                      </div>
                                      <!--.form-group.m-form__group.row
                                      label.col-2.col-form-label Text
                                      .col-10
                                          input.form-control.m-input(type="text")
                                      -->
                                      <!--.form-group.m-form__group.row
                                      label.col-2.col-form-label Select
                                      .col-10
                                          select.form-control.m-input
                                              option 1
                                              option 2
                                              option 3
                                      -->
                                      <!--.form-group.m-form__group
                                      label Default Checkboxes
                                      .m-checkbox-list
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                      -->
                                      <!--.form-group.m-form__group.btn.btn-primary.m-btn--pill.m-btn--air Сохранить
                                      -->
                                    </form>
                                  </div>
                                </div>
                                <div class="m-widget2__item m-widget2__item--primary m-draggable">
                                  <div class="m-accordion__item-head">
                                    <div class="m-widget2__checkbox m-draggable__x"><i class="fa fa-arrows"></i></div>
                                    <div class="m-widget2__desc m-draggable__title">
                                      <div class="m-widget2__text">Personal data cleaner</div>
                                      <div class="m-widget2__user-name">Detailed component description - 2</div>
                                    </div>
                                    <div class="m-widget2__settings" data-toggle="collapse" href="#m_component2"><i class="fa fa-gear"></i></div>
                                  </div>
                                  <div class="m-accordion__item-body collapse" id="m_component2">
                                    <form class="m-form m-form-settings m-demo">
                                      <ul class="nav nav-tabs nav-fill">
                                        <li class="nav-item"><a class="nav-link active" href="#tab_PDC_1" data-toggle="tab">Land EN</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#tab_PDC_2" data-toggle="tab">Land RU</a></li>
                                      </ul>
                                      <div class="tab-content tab-content-white">
                                        <div class="tab-pane active" id="tab_PDC_1">
                                          <div class="form-group m-form__group">
                                            <div class="m-checkbox-list">
                                              <label class="m-checkbox">
                                                <input type="checkbox">Remove name<span></span>
                                              </label>
                                              <label class="m-checkbox">
                                                <input type="checkbox">Remove last name<span></span>
                                              </label>
                                              <label class="m-checkbox">
                                                <input type="checkbox">Remove e-mail<span></span>
                                              </label>
                                              <label class="m-checkbox">
                                                <input type="checkbox">Remove password<span></span>
                                              </label>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="tab-pane" id="tab_PDC_2">
                                          <div class="form-group m-form__group">
                                            <div class="m-checkbox-list">
                                              <label class="m-checkbox">
                                                <input type="checkbox">Удалить имя<span></span>
                                              </label>
                                              <label class="m-checkbox">
                                                <input type="checkbox">Удалить фамилию<span></span>
                                              </label>
                                              <label class="m-checkbox">
                                                <input type="checkbox">Удалить e-mail<span></span>
                                              </label>
                                              <label class="m-checkbox">
                                                <input type="checkbox">Удалить пароль<span></span>
                                              </label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <!--.form-group.m-form__group.row
                                      label.col-2.col-form-label Text
                                      .col-10
                                          input.form-control.m-input(type="text")
                                      -->
                                      <!--.form-group.m-form__group.row
                                      label.col-2.col-form-label Select
                                      .col-10
                                          select.form-control.m-input
                                              option 1
                                              option 2
                                              option 3
                                      -->
                                      <!--.form-group.m-form__group
                                      label Default Checkboxes
                                      .m-checkbox-list
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                      -->
                                      <!--.form-group.m-form__group.btn.btn-primary.m-btn--pill.m-btn--air Сохранить
                                      -->
                                    </form>
                                  </div>
                                </div>
                                <div class="m-widget2__item m-widget2__item--primary m-draggable">
                                  <div class="m-accordion__item-head">
                                    <div class="m-widget2__checkbox m-draggable__x"><i class="fa fa-arrows"></i></div>
                                    <div class="m-widget2__desc m-draggable__title">
                                      <div class="m-widget2__text">HTML cleaner</div>
                                      <div class="m-widget2__user-name">Detailed component description - 3</div>
                                    </div>
                                    <div class="m-widget2__settings" data-toggle="collapse" href="#m_component3"><i class="fa fa-gear"></i></div>
                                  </div>
                                  <div class="m-accordion__item-body collapse" id="m_component3">
                                    <form class="m-form m-form-settings m-demo">
                                      <div class="form-group m-form__group">
                                        <label></label>
                                        <div class="m-checkbox-list">
                                          <label class="m-checkbox">
                                            <input type="checkbox">Remove tags<span></span>
                                          </label>
                                          <label class="m-checkbox">
                                            <input type="checkbox">Remove js code<span></span>
                                          </label>
                                        </div>
                                      </div>
                                      <!--.form-group.m-form__group.row
                                      label.col-2.col-form-label Text
                                      .col-10
                                          input.form-control.m-input(type="text")
                                      -->
                                      <!--.form-group.m-form__group.row
                                      label.col-2.col-form-label Select
                                      .col-10
                                          select.form-control.m-input
                                              option 1
                                              option 2
                                              option 3
                                      -->
                                      <!--.form-group.m-form__group
                                      label Default Checkboxes
                                      .m-checkbox-list
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                      -->
                                      <!--.form-group.m-form__group.btn.btn-primary.m-btn--pill.m-btn--air Сохранить
                                      -->
                                    </form>
                                  </div>
                                </div>
                          </div>
                        </div>
                        <div class="m-demo__preview">
                          <h3 class="m--padding-bottom-15">Component group</h3>
                          <div class="m-widget2">
                                <div class="m-widget2__item m-widget2__item--primary m-draggable">
                                  <div class="m-accordion__item-head">
                                    <div class="m-widget2__checkbox m-draggable__x"><i class="fa fa-arrows"></i></div>
                                    <div class="m-widget2__desc m-draggable__title">
                                      <div class="m-widget2__text">Morphology analysis</div>
                                      <div class="m-widget2__user-name">Detailed component description - 5</div>
                                    </div>
                                    <div class="m-widget2__settings" data-toggle="collapse" href="#m_component5"><i class="fa fa-gear"></i></div>
                                  </div>
                                  <div class="m-accordion__item-body collapse" id="m_component5">
                                    <form class="m-form m-form-settings m-demo">
                                      <div class="form-group m-form__group row">
                                        <label class="col-3 col-form-label">Language</label>
                                        <div class="col-7">
                                          <select class="form-control m-input m-js-select2">
                                            <option>English</option>
                                            <option>Russian</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="form-group m-form__group">
                                        <div class="m-checkbox-list">
                                          <label class="m-checkbox">
                                            <input type="checkbox">set normal form<span></span>
                                          </label>
                                          <label class="m-checkbox">
                                            <input type="checkbox">detect case<span></span>
                                          </label>
                                          <label class="m-checkbox">
                                            <input type="checkbox">detect gender<span></span>
                                          </label>
                                          <label class="m-checkbox">
                                            <input type="checkbox">detect mood<span></span>
                                          </label>
                                          <label class="m-checkbox">
                                            <input type="checkbox">detect tense<span></span>
                                          </label>
                                          <label class="m-checkbox">
                                            <input type="checkbox">get morphemes<span></span>
                                          </label>
                                        </div>
                                      </div>
                                      <!--.form-group.m-form__group.row
                                      label.col-2.col-form-label Text
                                      .col-10
                                          input.form-control.m-input(type="text")
                                      -->
                                      <!--.form-group.m-form__group.row
                                      label.col-2.col-form-label Select
                                      .col-10
                                          select.form-control.m-input
                                              option 1
                                              option 2
                                              option 3
                                      -->
                                      <!--.form-group.m-form__group
                                      label Default Checkboxes
                                      .m-checkbox-list
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                      -->
                                      <!--.form-group.m-form__group.btn.btn-primary.m-btn--pill.m-btn--air Сохранить
                                      -->
                                    </form>
                                  </div>
                                </div>
                                <div class="m-widget2__item m-widget2__item--primary m-draggable">
                                  <div class="m-accordion__item-head">
                                    <div class="m-widget2__checkbox m-draggable__x"><i class="fa fa-arrows"></i></div>
                                    <div class="m-widget2__desc m-draggable__title">
                                      <div class="m-widget2__text">Dependency parsing</div>
                                      <div class="m-widget2__user-name">Detailed component description - 6</div>
                                    </div>
                                    <div class="m-widget2__settings" data-toggle="collapse" href="#m_component6"><i class="fa fa-gear"></i></div>
                                  </div>
                                  <div class="m-accordion__item-body collapse" id="m_component6">
                                    <form class="m-form m-form-settings m-demo">
                                      <div class="form-group m-form__group row">
                                        <label class="col-sm-10">Language</label>
                                        <div class="col-sm-6">
                                          <label class="m-checkbox">
                                            <input type="checkbox">EN<span></span>
                                          </label>
                                        </div>
                                        <div class="col-sm-6">
                                          <label class="m-checkbox">
                                            <input type="checkbox">RU<span></span>
                                          </label>
                                        </div>
                                      </div>
                                      <div class="form-group m-form__group row">
                                        <div class="col-12"><img src="../../images/image.png" style="width:100%;display:block;"></div>
                                      </div>
                                      <div class="form-group m-form__group row">
                                        <label class="col-sm-10">Detect attributes</label>
                                        <div class="col-sm-6">
                                          <label class="m-checkbox">
                                            <input type="checkbox">prep<span></span>
                                          </label><br>
                                          <label class="m-checkbox">
                                            <input type="checkbox">nsubj<span></span>
                                          </label><br>
                                          <label class="m-checkbox">
                                            <input type="checkbox">attr<span></span>
                                          </label>
                                        </div>
                                        <div class="col-sm-6">
                                          <label class="m-checkbox">
                                            <input type="checkbox">pobj<span></span>
                                          </label><br>
                                          <label class="m-checkbox">
                                            <input type="checkbox">det<span></span>
                                          </label><br>
                                          <label class="m-checkbox">
                                            <input type="checkbox">compound<span></span>
                                          </label>
                                        </div>
                                        <div class="col-sm-12">
                                          <hr>
                                        </div>
                                        <div class="col-sm-12">
                                          <label class="m-checkbox">
                                            <input type="checkbox">Pos labels<span></span>
                                          </label><br>
                                          <label class="m-checkbox">
                                            <input type="checkbox">Detect core chunks<span></span>
                                          </label>
                                        </div>
                                      </div>
                                      <!--.form-group.m-form__group.row
                                      label.col-2.col-form-label Text
                                      .col-10
                                          input.form-control.m-input(type="text")
                                      -->
                                      <!--.form-group.m-form__group.row
                                      label.col-2.col-form-label Select
                                      .col-10
                                          select.form-control.m-input
                                              option 1
                                              option 2
                                              option 3
                                      -->
                                      <!--.form-group.m-form__group
                                      label Default Checkboxes
                                      .m-checkbox-list
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                      -->
                                      <!--.form-group.m-form__group.btn.btn-primary.m-btn--pill.m-btn--air Сохранить
                                      -->
                                    </form>
                                  </div>
                                </div>
                                <div class="m-widget2__item m-widget2__item--primary m-draggable">
                                  <div class="m-accordion__item-head">
                                    <div class="m-widget2__checkbox m-draggable__x"><i class="fa fa-arrows"></i></div>
                                    <div class="m-widget2__desc m-draggable__title">
                                      <div class="m-widget2__text">POS tagging</div>
                                      <div class="m-widget2__user-name">Detailed component description - 7</div>
                                    </div>
                                    <div class="m-widget2__settings" data-toggle="collapse" href="#m_component7"><i class="fa fa-gear"></i></div>
                                  </div>
                                  <div class="m-accordion__item-body collapse" id="m_component7">
                                    <form class="m-form m-form-settings m-demo">
                                      <div class="form-group m-form__group row">
                                        <label class="col-sm-10">Language</label>
                                        <div class="col-sm-6">
                                          <label class="m-checkbox">
                                            <input type="checkbox">EN<span></span>
                                          </label>
                                        </div>
                                        <div class="col-sm-6">
                                          <label class="m-checkbox">
                                            <input type="checkbox">RU<span></span>
                                          </label>
                                        </div>
                                      </div>
                                      <div class="form-group m-form__group">
                                        <div class="m-checkbox-list">
                                          <label class="m-checkbox">
                                            <input type="checkbox">Part-of-speech tag<span></span>
                                          </label>
                                          <label class="m-checkbox">
                                            <input type="checkbox">Lemma<span></span>
                                          </label>
                                          <label class="m-checkbox">
                                            <input type="checkbox">Pos tags for NER<span></span>
                                          </label>
                                        </div>
                                      </div>
                                      <!--.form-group.m-form__group.row
                                      label.col-2.col-form-label Text
                                      .col-10
                                          input.form-control.m-input(type="text")
                                      -->
                                      <!--.form-group.m-form__group.row
                                      label.col-2.col-form-label Select
                                      .col-10
                                          select.form-control.m-input
                                              option 1
                                              option 2
                                              option 3
                                      -->
                                      <!--.form-group.m-form__group
                                      label Default Checkboxes
                                      .m-checkbox-list
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                      -->
                                      <!--.form-group.m-form__group.btn.btn-primary.m-btn--pill.m-btn--air Сохранить
                                      -->
                                    </form>
                                  </div>
                                </div>
                                <div class="m-widget2__item m-widget2__item--primary m-draggable">
                                  <div class="m-accordion__item-head">
                                    <div class="m-widget2__checkbox m-draggable__x"><i class="fa fa-arrows"></i></div>
                                    <div class="m-widget2__desc m-draggable__title">
                                      <div class="m-widget2__text">Ontology tree (special)</div>
                                      <div class="m-widget2__user-name">Detailed component description - 8</div>
                                    </div>
                                    <div class="m-widget2__settings" data-toggle="collapse" href="#m_component8"><i class="fa fa-gear"></i></div>
                                  </div>
                                  <div class="m-accordion__item-body collapse" id="m_component8">
                                    <form class="m-form m-form-settings m-demo">
                                      <div class="form-group m-form__group row">
                                        <label class="col-sm-10">Language</label>
                                        <div class="col-sm-6">
                                          <label class="m-checkbox">
                                            <input type="checkbox">EN<span></span>
                                          </label>
                                        </div>
                                        <div class="col-sm-6">
                                          <label class="m-checkbox">
                                            <input type="checkbox">RU<span></span>
                                          </label>
                                        </div>
                                      </div>
                                      <div class="form-group m-form__group row">
                                        <label class="col-3 col-form-label">Depth</label>
                                        <div class="col-9">
                                          <select class="form-control m-input m-js-select2">
                                            <option>1 branch</option>
                                            <option>2 branch</option>
                                            <option>3 branch</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="form-group m-form__group row">
                                        <div class="col-12"><img src="../../images/image.png" style="width:100%;display:block;"></div>
                                      </div>
                                      <div class="form-group m-form__group">
                                        <div class="m-checkbox-list">
                                          <label class="m-checkbox">
                                            <input type="checkbox">Phrase patterns<span></span>
                                          </label>
                                          <label class="m-checkbox">
                                            <input type="checkbox">Taxonomy<span></span>
                                          </label>
                                          <label class="m-checkbox">
                                            <input type="checkbox">Synonyms labels<span></span>
                                          </label>
                                        </div>
                                      </div>
                                      <!--.form-group.m-form__group.row
                                      label.col-2.col-form-label Text
                                      .col-10
                                          input.form-control.m-input(type="text")
                                      -->
                                      <!--.form-group.m-form__group.row
                                      label.col-2.col-form-label Select
                                      .col-10
                                          select.form-control.m-input
                                              option 1
                                              option 2
                                              option 3
                                      -->
                                      <!--.form-group.m-form__group
                                      label Default Checkboxes
                                      .m-checkbox-list
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                          label.m-checkbox
                                              input(type='checkbox')
                                              | Checkbox
                                              span
                                      -->
                                      <!--.form-group.m-form__group.btn.btn-primary.m-btn--pill.m-btn--air Сохранить
                                      -->
                                    </form>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 m-used-components">
                    <div class="m-portlet m-portlet--tab">
                      <div class="m-portlet__body">
                        <div class="m-widget2">
                              <div class="m-widget2__item m-widget2__item--primary m-draggable">
                                <div class="m-accordion__item-head">
                                  <div class="m-widget2__checkbox m-draggable__x"><i class="fa fa-arrows"></i></div>
                                  <div class="m-widget2__desc m-draggable__title">
                                    <div class="m-widget2__text">Tokenization</div>
                                    <div class="m-widget2__user-name">Detailed component description - 100</div>
                                  </div>
                                  <div class="m-widget2__settings" data-toggle="collapse" href="#m_component100"><i class="fa fa-gear"></i></div>
                                </div>
                                <div class="m-accordion__item-body collapse" id="m_component100">
                                  <form class="m-form m-form-settings m-demo">
                                    <ul class="nav nav-tabs nav-fill">
                                      <li class="nav-item"><a class="nav-link active" href="#tab_T_1" data-toggle="tab">Land EN</a></li>
                                      <li class="nav-item"><a class="nav-link" href="#tab_T_2" data-toggle="tab">Land RU</a></li>
                                    </ul>
                                    <div class="tab-content tab-content-white">
                                      <div class="tab-pane active" id="tab_T_1">
                                        <div class="form-group m-form__group">
                                          <div class="m-checkbox-list">
                                            <label class="m-checkbox">
                                              <input type="checkbox">Sentence segmentation<span></span>
                                            </label>
                                            <label class="m-checkbox">
                                              <input type="checkbox">Word tokens<span></span>
                                            </label>
                                            <p class="lead">in: text<br>out: list of words</p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="tab-pane" id="tab_T_2">
                                        <div class="form-group m-form__group">
                                          <div class="m-checkbox-list">
                                            <label class="m-checkbox">
                                              <input type="checkbox">Sentence segmentation<span></span>
                                            </label>
                                            <label class="m-checkbox">
                                              <input type="checkbox">Word tokens<span></span>
                                            </label>
                                            <p class="lead">in: text<br>out: list of words</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!--.form-group.m-form__group.row
                                    label.col-2.col-form-label Text
                                    .col-10
                                        input.form-control.m-input(type="text")
                                    -->
                                    <!--.form-group.m-form__group.row
                                    label.col-2.col-form-label Select
                                    .col-10
                                        select.form-control.m-input
                                            option 1
                                            option 2
                                            option 3
                                    -->
                                    <!--.form-group.m-form__group
                                    label Default Checkboxes
                                    .m-checkbox-list
                                        label.m-checkbox
                                            input(type='checkbox')
                                            | Checkbox
                                            span
                                        label.m-checkbox
                                            input(type='checkbox')
                                            | Checkbox
                                            span
                                        label.m-checkbox
                                            input(type='checkbox')
                                            | Checkbox
                                            span
                                    -->
                                    <!--.form-group.m-form__group.btn.btn-primary.m-btn--pill.m-btn--air Сохранить
                                    -->
                                  </form>
                                </div>
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="m--padding-15 m-width-100 m--padding-30"><a class="btn btn-info pull-right" href="index-4.html">Proceed</a>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--footer.m-grid__item.m-footer
      div.m-container.m-container--fluid.m-container--full-height.m-page__container
          div.m-stack.m-stack--flex-tablet-and-mobile.m-stack--ver.m-stack--desktop
              .m--padding-top-10.m--padding-bottom-10
                  button.btn.btn-primary.pull-right
                      | Далее
                  .clearfix
      -->
    </div>
    <div class="m--wait-overlay">
      <div class="m--wait">
        <div class="m-blockui"><span>Please wait...</span><span>
            <div class="m-loader m-loader--brand m-loader--lg"></div></span></div>
      </div>
    </div>
    <script src="../../assets/vendors/base/vendors.bundle.js"></script>
    <script src="../../assets/demo/default/base/scripts.bundle.js"></script>
    <script src="../../assets/vendors/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="../../assets/vendors/custom/jquery-ui/jquery-ui.bundle.js"></script>
    <script src="../../scripts/data-local.js"></script>
    <script src="../../scripts/draggable.js"></script>
    <script src="../../scripts/componentsENG.js?v=15"></script>
    <script src="../../scripts/demoENG.js?v=15"></script>
  </body>
</html>
