html, body, .main{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  background-color: #e8e7ec;
  color: #1a205c;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 296px;
  color: #000000;
  font-size: 18px;
  line-height: 1;
  background-color: #060d31;
}
.main_container{
	max-width: 1050px;
	padding: 0 70px;
	background-color: #f9f9f9;
	margin: 0 auto;
  transition: all 0.1s;
}
body:after{
  position: absolute;
  height: 328px;
  width: 100%;
  content: "";
  left: 0;
  top: 0;
  z-index: -1;

  background-color: #060d31;
  background-image: -moz-linear-gradient(top, #4f1626 8px, #060d31 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(8px,#4f1626), color-stop(100%,#060d31));
  background-image: -webkit-linear-gradient(top, #4f1626 8px, #060d31 100%);
  background-image: -o-linear-gradient(top, #4f1626 8px, #060d31 100%);
  background-image: -ms-linear-gradient(top, #4f1626 8px, #060d31 100%);
  background-image: linear-gradient(top, #4f1626 8px, #060d31 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f1626', endColorstr='#060d31',GradientType=0 );
}
.noise{
 position: relative;
  z-index: 1;
  background: url("../img/noise.png") repeat top left;
}

.lines{
 position: relative;
  z-index: 6;
  background-image: url("../img/lines2.png");
   background-repeat: no-repeat;
  background-position: center top;
   background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;

	animation-name: movement;
  animation-duration: 855s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

@keyframes movement
{
  from {
      background-position: 0 0;
  }
  to {
      background-position: 0 -8550px;
  }
}

.dots1{
 position: relative;
  z-index: 3;
  background-image: url("../img/1.png");
   background-repeat: no-repeat;
  background-position: center top;
   background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;

 	animation-name: movementdots;
  animation-duration: 1155s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

.dots2{
 position: relative;
  z-index: 4;
  background-image: url("../img/2.png");
   background-repeat: no-repeat;
  background-position: center top;
   background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;

  animation-name: movementdots;
  animation-duration: 1555s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}


.dots3{
 position: relative;
  z-index: 5;
  background-image: url("../img/3.png");
   background-repeat: no-repeat;
  background-position: center top;
   background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;

 /* animation-name: movementdots;
  animation-duration: 855s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;*/

}

@keyframes movementdots
{
  from {
      background-position: 0 0;
  }
  to {
      background-position: 0 -15000px;
  }
}
.section{
  padding: 0 40px;
  max-width: 1340px;
  margin: 0 auto;
}
.team.section{
	padding: 0;
}
.menu ul{
  padding: 0;
}
.menu ul li{
  margin: 35px 0;
  list-style: none;
}
.menu ul li a, .liTitle{
  font-size: 20px;
  margin: 30px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #1a205c;
}
.language{
	position: fixed;
  top: 0px;
  right: 40px;
  z-index: 10001;
  display: flex;
  flex-direction: column;
  color: black;
}
.language .langes{
	height: 0;
  overflow: hidden;
  transition: all 0.2s;
}
.language .opened{
  height: 260px;
  background-color: #f9f9f9;
}
.moved .section{
  padding-top: 50px;
}
.goBack{
  box-sizing: border-box;
background-color: white;
cursor: pointer;
outline: none;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
position: fixed;
top: 10px;
left: 23px;
margin: 18px 0;
    z-index: 10;
  border-radius: 6px;
}
.goBack a{
  padding: 10px;
  text-decoration: none;
  display: block;
}
.buyit{
  top: 58px;
  background-color: #dbe6ff;
}
.showed .goBack{
  top: 0px;
}
.showed .buyit{
  top: 0px;
  left: 220px;
}
.buyit a{
  color: black;
}
nav{
  position: fixed;
  right: 20px;
  top: 32%;
  transition: all 0.2s;
}
nav ul{
  padding: 0;
}
nav ul li{
  list-style-type: none;
  margin: 20px 0;
  max-width: 250px;
  text-align: right;
}
nav ul li a{
  color: #e7e7eb;
  text-align: right;
  padding: 5px 0;
  text-decoration: none;
  transition: all 0.2s;
}

#langToggle{
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #dbe6ff;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 15px;
  outline: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#langToggle::selection{
  background-color: white;
}
#langToggle:hover{
  border: 1px solid #1a205c;
}
.language .langes a div{
  width: 55px;
  height: 34px;
  background-size: cover;
  border: 1px solid #6b6b6b;
  margin: 5px auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.banner p{
  text-align: center;
  margin: 20px auto 0 auto;
}
.main_container .hided{
  display: none;
}
.bigTitle{
  font-size: 33px;
  text-align: center;
  margin: 20px 0 0 0;
  font-weight: bold;
  letter-spacing: -1px;
}
.smallTitle, .advantage .blackTitle, .person .personName{
	text-transform: uppercase;
  font-size: 20px;
  margin: 30px auto -10px auto;
  font-weight: bold;
  color: #e20018;
  line-height: 30px;
  letter-spacing: 0px;
}
.banner img{
  margin: 0 auto;
  display: block;
  height: 170px;
}
.reder{
  color: red;
}
.problems .bigTitle{
  margin: 20px 0;
}
.problems ul li{
  list-style-image: url('../assets/images/redDot.png');
  padding-left: 20px;
}
.problems .smallTitle{
  margin: 18px 0 -17px 0;
}
.problems .liTitle{
   margin: 20px 0 0 0;
 }
.problems ul{
  padding-left: 65px;
}
.liText, .roadmap ul li, .adjuster li{
	margin: 5px 0 5px 0;
  font-size: 18px;
  margin-right: 100px;
  font-weight: 100;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}
.solution .smallTitle{
  text-align: center;
}
.fp-scroller{
	cursor: -webkit-grab;
	cursor: grab;
}
.plainText, .plainRed{
	margin: 20px 0;
	font-size: 19px;
	font-weight: 100;
	line-height: 22px;
	color: black;
	font-family: 'Ubuntu', sans-serif;
}
.plainRed{
  color: red;
  font-style: italic;
  font-weight: 500;
}
.advantage{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.advantImage{
	width: 154px;
  height: 124px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 25px;
  margin-top: 15px;
  background-position: 50% 50%;
}
.advantage .advanText{
  vertical-align: top;
  width: 84%;
}
.advantage .blackTitle{
  color: black;
  margin: 0;
}
.advantage .description{
	margin: 0;
  font-size: 20px;
  line-height: 22px;
  margin-right: 60px;
  font-weight: 100;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}
.advantages .advanTitle{
  margin-bottom: 27px;
}
.advantage:nth-child(3) img{
  max-width: 120px;
  margin: 0 auto 0 40px;
}
.advantage{
  margin-bottom: 40px;
}
.architecture .bigTitle{
  margin-bottom: 20px;
}
.teamWrapper{
  display: flex;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
.teamWrapper .person{
  width: 50%;
  margin-bottom: 40px;
}
.person .avatar{
	width: 170px;
	height: 43%;
	min-height: 180px;
	max-height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
  border-radius: 12px;
	background-position: 50% 50%;
}
.person p{
  padding-right: 40px;
}
.team .bigTitle{
  margin-bottom: 60px;
}
.person p{
  margin: 0 0 0 200px;
}
.person .personName{
  margin: 0 0 0 200px;
  color: black;
}
.person .profes{
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.person .special{
  font-size: 16px;
  color: black;
}
.cases .smallTitle{
  margin-left: 0;
}
.cases ul li, .roadmap ul li{
  list-style-image: url('../assets/images/redDot.png');
  padding-left: 10px;
}
.liTitle p{
  text-transform: initial;
}
.roadmap .smallTitle{
  margin: 23px auto -18px 0;
}
.tokensale .redItalic{
  color: red;
  font-style: italic;
  font-size: 25px;
}
.tokensale .bigTitle{
  margin-bottom: 45px;
}
.tokensale .smallTitle{
  margin: 43px auto 0 0
}
.navBurger{
  display: none;
  width: 60px;
  height: 60px;
  position: fixed;
  padding: 0px;
  border-radius: 10px;
  right: 40px;
  top: 84px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #060d31;
  z-index: 5;
}
.showed .goBack, .showed .language, .showed .buyit{
  opacity: 1;
  z-index: 10001;
}
.showed nav{
  opacity: 1;
  border-radius: 19px;
  padding: 18px 0px;
  z-index: 9;
  background-color: #060e31;
}

@media all and (max-width: 1750px){
  nav ul li{
    width: 170px;
  }
  .fp-viewing-initial .counter li:nth-child(1) a, .fp-viewing-problems .counter li:nth-child(2) a, .fp-viewing-solution .counter li:nth-child(2) a, .fp-viewing-advantages .counter li:nth-child(3) a, .fp-viewing-architecture .counter li:nth-child(4) a, .fp-viewing-team .counter li:nth-child(5) a, .fp-viewing-cases .counter li:nth-child(6) a, .fp-viewing-roadmap .counter li:nth-child(7) a, .fp-viewing-tokensale .counter li:nth-child(8) a{
    padding: 4px;
    line-height: 20px;
  }
}
@media all and (max-width: 1600px){
  .main_container{
    max-width: 1000px;
    padding: 0 10px;
  }
  nav ul li{
    margin: 23px;
  }
  nav{
    right: 10px;
    top: 26%;
  }
}
@media all and (max-width: 1450px){
  .moved .mobile_header{
    background-color: black;
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
    z-index: 10;
    height: 70px;
  }
  .moved .mobile_header .language, .moved .mobile_header .goBack{
    position: fixed;
  }
  .navBurger{
    display: block;
  }
  .main_container.moved{
    margin: 0 auto 0 0;
    width: 100%;
    padding: 0;
    max-width: 100%;
  }
  .moved .section{
    padding: 0px 260px 0 30px;
  }
  .moved .language .langes a div{
    width: 55px;
    height: 34px;
  }
  nav, .goBack, .language, .buyit{
    opacity: 0;
    z-index: -1;
  }
  nav ul{
  padding: 0;
}
}
@media all and (max-width: 1280px){
  .moved .mobile_header{
    position: fixed;
    justify-content: space-between;
  }
  .moved .mobile_header .goBack{
    margin-left: 0px;
  }
  .moved .mobile_header .language{
    margin-right: 20px;
  }
  .moved .mobile_header .buyit{
    margin-left: 0;
  }
  .showed{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #060e31;
  }
  .navBurger{
    z-index: 200;
  }
  .fp-viewing-menu .moved nav{
    opacity: 1;
  }
  .moved nav{
    width: 94%;
    top: 20%;
  }
  .moved nav ul li{
    text-align: left;
    width: 92%;
    max-width: 400px;
    padding: 0;
    margin: 30px 0;
  }
  .moved nav ul li a{
    font-size: 23px;
padding: 20px 0px;
  }
}
@media all and (max-width: 1150px){
  .section{
      padding: 0 100px 0 40px;
  }
}
@media all and (max-width: 1200px){
  .person .avatar{
    width: 160px;
    height: 160px;
  }
  .person p, .person .personName{
    margin-left: 170px;
  }
  .teamWrapper .person{
    width: 90%;
    margin-bottom: 20px;
  }
  .teamWrapper{
    justify-content: center;
  }
  .person p, .person .personName{
    margin-left: 190px;
  }
  .person .avatar{
    border-radius: 5px;
  }
  .team .bigTitle{
    margin-bottom: 30px;
  }
}
@media all and (max-width: 1050px){
  .advantImage{
    width: 150px;
    margin-right: 30px;
  }
  .section{
    padding: 0 90px 0 30px;
  }
  .advantage .blackTitle{
    margin-right: 20px;
  }
  .bigTitle{
    font-size: 39px;
  }
  .banner p{
    padding: 0 30px;
  }
  .solution .smallTitle{
    padding: 0 30px;
  }
  .plainText, .plainRed{
    padding: 0 30px;
  }
}
@media all and (max-width: 900px){
  .liText{
    margin-right: 10px;
  }
  .fp-scroller{
    padding: 10px 0 30px 0;
    box-sizing: border-box;
  }
  .cases .smallTitle{
    padding-right: 30px;
  }
  .advantage .description{
    font-size: 20px;
  }
  .advantages .advanTitle{
    margin-bottom: 25px;
  }
  .person .avatar{
    margin-top: 5px;
  }
  .advantImage{
    width: 120px;
    margin-right: 0px;
  }
  .roadmap .bigTitle{
    margin: 60px 0 0 0;
  }
  .advantage .description{
    margin-right: 20px;
  }
  .advantage .blackTitle{
    font-size: 22px;
  }
}
.counter li a{
  transition: all 0.2s;
}
.fp-viewing-initial .counter li:nth-child(1) a, .fp-viewing-problems .counter li:nth-child(2) a, .fp-viewing-solution .counter li:nth-child(2) a, .fp-viewing-advantages .counter li:nth-child(3) a, .fp-viewing-architecture .counter li:nth-child(4) a, .fp-viewing-team .counter li:nth-child(5) a, .fp-viewing-cases .counter li:nth-child(6) a, .fp-viewing-roadmap .counter li:nth-child(7) a, .fp-viewing-tokensale .counter li:nth-child(8) a{
  color: #000000;
  padding: 0px;
  background-color: #ffffff;
}
.fp-viewing-menu nav{
  opacity: 0;
}
@media all and (max-width: 800px){
  .together{
    margin-top: 20px;
  }
  .tokensale .togetherDown{
    margin-bottom: 20px;
  }
  .banner img{
    height: 150px;
  }
  .banner p{
    padding: 0 20px;
  }
  .bigTitle{
    font-size: 35px;
  }
  .advantage{
    justify-content: flex-start;
  }
  .advantImage{
    margin-right: 20px;
  }
  .smallTitle, .advantage .blackTitle, .person .personName{
    font-size: 20px;
  }
  .problems .smallTitle{
    font-size: 25px;
  }
  .menu ul li a, .liTitle{
    font-size: 22px;
  }
  .liText, .roadmap ul li, .adjuster li{
    font-size: 22px;
    margin-right: 20px;
  }
  .advantage .description{
    margin-right: 10px;
  }
  .architecture .bigTitle{
    margin-bottom: 20px;
  }
  .person .personName{
    font-size: 25px;
  }
  .teamWrapper .person{
    width: 95%;
  }
  .cases .smallTitle{
    font-size: 25px;
  }
  .tokensale .redItalic{
    margin-top: 10px;
  }
  .person p{
    padding-right: 10px;
  }
  .cases ul li, .roadmap ul li{
    padding-left: 0px;
  }
  .roadmap .smallTitle{
    margin: 38px auto 10px 0;
  }
  .roadmap ul{
    margin: 0;
  }
}
@media all and (max-width: 700px){
  .teamWrapper .person{
    width: 100%;
  }
}
@media all and (max-width: 600px){
  .person p, .person .personName{
    margin-left: 175px;
  }
  .advantage{
    flex-direction: column;
  }
  .advantage .blackTitle, .advantage .description{
    text-align: center;
  }
  .advantImage{
    margin: 0 auto 20px auto;
  }
  .advantage .advanText{
    width: 100%;
  }
  .plainText, .plainRed{
    padding: 0 10px;
  }
  .teamWrapper{
    padding: 0 10px;
  }
}
@media all and (max-width: 540px){
  .moved .mobile_header .language{
    top: 71px;
width: 101px;
left: 23px;
  }
}
@media all and (max-width: 500px){
  .section{
    padding: 0 5px;
  }
  .menu ul li a, .liTitle{
    font-size: 20px;
  }
  .problems ul{
    padding-left: 20px;
  }
  .banner img{
    margin-top: 20px;
  }
  .banner p{
    padding: 0;
  }
  .bigTitle{
    font-size: 30px;
  }
  .smallTitle, .advantage .blackTitle, .person .personName{
    font-size: 19px;
  }
  .problems .smallTitle{
    font-size: 20px;
  }
  .navBurger{
    opacity: 0.5;
  }
  .moved .navBurger{
    opacity: 1;
  }
  .problems ul li{
    padding-left: 0;
    margin-bottom: 20px;
  }
  .problems ul{
    margin-bottom: 0;
  }
  .problems .smallTitle{
    margin-bottom: -16px;
  }
  .problems ul li p{
    margin-top: 10px;
  }
  .solution .smallTitle{
    font-size: 19px;
    padding: 0;
    margin-top: 10px;
  }
  .plainText, .plainRed{
    font-size: 20px;
    padding: 0;
  }
  .advantages .advanTitle{
    margin-bottom: 0px;
  }
  .advantage .blackTitle{
    margin-right: 0;
  }
  .cases .smallTitle{
    font-size: 20px;
    margin-right: 0;
  }
  .cases ul{
    padding-left: 20px;
  }
  .person{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .tokensale .togetherDown{
    margin: 50px 0 10px 0;
  }
  .tokensale .redItalic{
    font-size: 20px;
  }
  .person p, .person .personName{
    margin-left: 0;
    text-align: center;
  }
  .person .avatar{
    margin: 20px auto 15px auto;
  }
}
@media all and (max-width:400px){
  .goBack{
    width: 96px;
    height: 60px;
  }
  .moved .mobile_header .buyit{
    left: 130px;
        height: 44px;
  }
  .moved .navBurger{
    opacity: 1;
    top: 15px;
    width: 55px;
    height: 58px;
    right: 30px;
  }
  .goBack a{
    font-size: 16px;
    padding: 4px 10px;
  }
  .moved .mobile_header .language{
    top: 90px;
    width: 101px;
    right: 9px;
    left:initial;
  }
  .moved .mobile_header{
    height: 100px;
  }
}
